@model IEnumerable<MultiLC.Models.Puntos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaAsignados)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPunto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaAsignados)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPunto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPuntos }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPuntos }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPuntos })
        </td>
    </tr>
}

</table>
